﻿@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/views/shared/_Layout.cshtml";
}

<style>

</style>

<div id="main" data-bind="visible: user.isAuthenticated" style="width: 80%; margin: 0 auto">
    <div>
        <h3>Add todo</h3>
        <form class="form-inline">
            <input type="text" data-bind="value: todo().todoText"  placeholder="Todo" name="todoText" class="input-xlarge"/>
            <input type="text" class="input-small" data-bind="datepicker: true, value: todo().todoDate" placeholder="Todo date" name="todoDate"/>
            <input class="btn btn-primary btn-small" type="button" data-bind="click: addTodo, value: addTodoText" name="todoAdd"/>
        </form>
    </div>
    <div>
        <ul class="todolist unstyled" id="todoList" data-bind="foreach: todos.items, visible: todos.any()">
            <li><div class="todoItemText" data-bind="text: todoText"></div><div class="todoItemDate" data-bind="text: displayDate"></div><button type="button" class="close todoItemClose" data-dismiss="alert">&times;</button></li>
        </ul>
    </div>
</div>
