@import "variables.less";

@blue: #0072C6;
@gray: #F3F3F3;
@border-color: #f0f0f0;
@focus-border-color: silver;
@input-height: 30px;


html, button, input, select, textarea { font-family: "Segoe UI", "Segoe UI Web Regular", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", "Arial", "sans-serif"; color: #222;}


/* Loading indicators */
.loading {
    margin: 1em 0;
}

.loading img {
    vertical-align: middle;
}

.loading h3 {
    position: relative;
    top: -1px;
    margin: 0 0 0 1em;
    display: inline-block;
    vertical-align: middle;
    font-size: 95%;
}

/* Login page styling */
#session-index {
    #signin {
        width: 85px;
        height: @input-height;
        background-color: @blue;
        border: none;
        color: white;
        margin-top: 1em;


        .hover {
            background-color: #1e82cc;
        }
    }

    #login-page-container {
        position: relative;
        width: 850px;
        margin: auto;
        margin-top: 5em;
    }


    #session-index #introduction-container {
        top: 0px;
        width: 450px;
        height: 450px;
        text-align: left;
    }

    #introduction-container #picture {
        height: 300px;
        background-color: #f0f0f0;
    }

    #introduction-container #caption {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 450px;
        height: 150px;
        padding: 1em 2em;
        background-color: @blue;
        color: white;
    }

    #login-container {
        top: 0px;
        right: 0;
        width: 400px;
        padding: 0.1em 1em;
    }

    input.text-box {
        height: @input-height;
        width: 320px;
        padding-left: 0.5em;
        border: 1px solid @border-color;
        background-color: white;
    }

        input.text-box.focus {
            border: 1px solid @focus-border-color;
        }

    input#UserName {
        height: @input-height;
        width: 320px;
        padding-left: 0.5em;
        border: 1px solid @border-color;
        background-color: white;
    }

    input#Password {
        height: @input-height;
        width: 320px;
        padding-left: 0.5em;
        border: 1px solid @border-color;
        background-color: white;
    }

    input#RepeatPassword {
        height: @input-height;
        width: 320px;
        padding-left: 0.5em;
        border: 1px solid @border-color;
        background-color: white;
    }

    input#Email {
        height: @input-height;
        width: 320px;
        padding-left: 0.5em;
        border: 1px solid #f0f0f0;
        background-color: white;
    }

    label {
        display: block;
        margin-top: 10px;
    }

    .field-validation-error {
        margin-top: 0;
        color: red;
    }
}

#mainsection {
	padding: 0 0 0 10px;
}

ul.todolist li {
    div {
        display: inline-block;
    }
	div.todoItemText {
        width: 50%;
    }
	div.todoItemDate {
        width: 25%;
    }
}

