/*font-family: 'Ropa Sans', cursive;
font-family: 'Asap', sans-serif;*/
html,
button,
input,
select,
textarea {
  font-family: "Segoe UI", "Segoe UI Web Regular", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", "Arial", "sans-serif";
  color: #222;
}
/* Loading indicators */
.loading {
  margin: 1em 0;
}
.loading img {
  vertical-align: middle;
}
.loading h3 {
  position: relative;
  top: -1px;
  margin: 0 0 0 1em;
  display: inline-block;
  vertical-align: middle;
  font-size: 95%;
}
/* Login page styling */
#session-index #signin {
  width: 85px;
  height: 30px;
  background-color: #0072c6;
  border: none;
  color: white;
  margin-top: 1em;
}
#session-index #signin .hover {
  background-color: #1e82cc;
}
#session-index #login-page-container {
  position: relative;
  width: 850px;
  margin: auto;
  margin-top: 5em;
}
#session-index #session-index #introduction-container {
  top: 0px;
  width: 450px;
  height: 450px;
  text-align: left;
}
#session-index #introduction-container #picture {
  height: 300px;
  background-color: #f0f0f0;
}
#session-index #introduction-container #caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 450px;
  height: 150px;
  padding: 1em 2em;
  background-color: #0072c6;
  color: white;
}
#session-index #login-container {
  top: 0px;
  right: 0;
  width: 400px;
  padding: 0.1em 1em;
}
#session-index input.text-box {
  height: 30px;
  width: 320px;
  padding-left: 0.5em;
  border: 1px solid #f0f0f0;
  background-color: white;
}
#session-index input.text-box.focus {
  border: 1px solid #c0c0c0;
}
#session-index input#UserName {
  height: 30px;
  width: 320px;
  padding-left: 0.5em;
  border: 1px solid #f0f0f0;
  background-color: white;
}
#session-index input#Password {
  height: 30px;
  width: 320px;
  padding-left: 0.5em;
  border: 1px solid #f0f0f0;
  background-color: white;
}
#session-index input#RepeatPassword {
  height: 30px;
  width: 320px;
  padding-left: 0.5em;
  border: 1px solid #f0f0f0;
  background-color: white;
}
#session-index input#Email {
  height: 30px;
  width: 320px;
  padding-left: 0.5em;
  border: 1px solid #f0f0f0;
  background-color: white;
}
#session-index label {
  display: block;
  margin-top: 10px;
}
#session-index .field-validation-error {
  margin-top: 0;
  color: red;
}
#mainsection {
  padding: 0 0 0 10px;
}
ul.todolist li div {
  display: inline-block;
}
ul.todolist li div.todoItemText {
  width: 50%;
}
ul.todolist li div.todoItemDate {
  width: 25%;
}
